#parse("base.html")
#@mainLayout()
<h1>Order Customer #0</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>09-11-2020</td>
        <td>Nouveau</td>
    </tr>
    </tbody>
</table>
<h2>History</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>09-11-2020</td>
        <td>Nouveau</td>
    </tr>
    </tbody>
</table>

#end