#parse("base.html")
#@mainLayout()
<h1 class="mb-5">Orders Dashboard <button class="btn"><i class="fas fa-sync-alt"></i></button></h1>

<h2>Current order</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>09-11-2020</td>
        <td>Nouveau</td>
        <td><i class="fas fa-trash-alt"></i></td>
    </tr>
    </tbody>
</table>
<h2>History</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>09-11-2020</td>
        <td>Nouveau</td>
    </tr>
    </tbody>
</table>

#end