#parse("base.html")
#@mainLayout()
<h1 class=""mb-5>Dashboard <button class="btn"><i class="fas fa-sync-alt"></i></button></h1>
<h2>Current order</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">order ID</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    #foreach ($command in $commands)
        #if ($command.getState() == "ENCOURS" || $command.getState() == "NOUVEAU")
        <tr>
            <th scope="row">$velocityCount</th>
            <td>$command.getId()</td>
            <td>$command.getLocaldate()</td>
            <td>$command.getState()</td>
            <td>$command.getPlats()</td>
            <td><a class="btn" href="/commande/$velocityCount" >Voir la commande <i class="fas fa-arrow-right"></i></a></td>
            <td><a class="btn" href="/action/$velocityCount?action=undo"><i class="fas fa-undo"></i></a></td>
            <td><a class="btn" href="/action/$velocityCount?action=redo"><i class="fas fa-redo"></i></a></td>
        </tr>
        #end
    #end
    </tbody>
</table>

<h2>Archive</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">order ID</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    #foreach ($command in $commands)
    #if ($command.getState() == "TERMINEE" || $command.getState() == "ANNULEE")
    <tr>
        <th scope="row">$velocityCount</th>
        <td>$command.getId()</td>
        <td>$command.getLocaldate()</td>
        <td>$command.getState()</td>
        <td>$command.getPlats()</td>
        <td><a class="btn" href="/commande/$velocityCount" >Voir la commande <i class="fas fa-arrow-right"></i></a></td>
    </tr>
    #end
    #end
    </tbody>
</table>
<h2>History</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">order ID</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    #foreach ($hist in $history)
    <tr>
        <th scope="row">$velocityCount</th>
        <td>$hist</td>
    </tr>
    #end
    </tbody>
</table>
#end