#parse("base.html")
#@mainLayout()
<h1 class="text-center">Les meilleurs burgers des Paris</h1>
<div class="row w-100">
    <div class="col-sm-4">
        <a href="/create/1" class="card w-100" id="menu1">
            <div class="wrapper">
                <img src="/img/burger1.jpg" class="card-img-top " alt="burger1">
            </div>
            <div class="card-body">
                <h5 class="card-title">Double Cheese</h5>
                <p class="card-text">Burger + potatoes + boisson</p>

                <button type="button" class="btn btn-primary">
                    <span class="badge badge-light">120€</span> Ajouter   <i class="fas fa-plus"></i>
                    <span class="sr-only">unread messages</span>
                </button>

            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/create/2" class="card w-100">
            <div class="wrapper">
                <img src="/img/burger3.jpg" class="card-img-top " alt="burger2">
            </div>
            <div class="card-body">
                <h5 class="card-title">Double Cheese</h5>
                <p class="card-text">Burger + potatoes</p>

                <button type="button" class="btn btn-primary">
                    <span class="badge badge-light">80€</span> Ajouter   <i class="fas fa-plus"></i>
                    <span class="sr-only">unread messages</span>
                </button>

            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/create/3" class="card w-100">
            <div class="wrapper">
                <img src="/img/burger2.jpg" class="card-img-top " alt="burger3">
            </div>
            <div class="card-body">
                <h5 class="card-title">Double Cheese</h5>
                <p class="card-text">Burger simple</p>

                <button type="button" class="btn btn-primary">
                    <span class="badge badge-light">60€</span> Ajouter   <i class="fas fa-plus"></i>
                    <span class="sr-only">unread messages</span>
                </button>

            </div>
        </a>
    </div>
    <p class="expo">viande humaine de premiere qualité.</p>
</div>

#end
