#parse("base.html")
#@mainLayout()


<h1 class="mb-5">Order Team #0</h1>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">State</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">Nouveau</option>
        <option value="2">En cours</option>
        <option value="3">Terminée</option>
        <option value="3">Annulée</option>
    </select>
</div>

#end